[submodule "Project/Drivers/stm32g4xx_hal_driver"]
	path = Project/Drivers/stm32g4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
[submodule "Project/AzureRTOS/threadx"]
	path = Project/AzureRTOS/threadx
	url = https://github.com/azure-rtos/threadx.git
